html { 
  box-sizing: border-box; 
} 

*, *:before, *:after { 
  box-sizing: inherit; 
}


.grid {
  clear: both;
  border: 1px solid black;
}

.grid-quarter {
    float: left;
    width: 25%;
    border: 1px solid black;
}

.grid-third {
    float: left;
    width: 33.334%;
    border: 1px solid black;
}

.image {
    text-align: center;
    padding: 5px;
}

.landscape {
    width: 600px;
    height: 263px;
}

.grid-half {
    float: left;
    width: 50%;
    border: 1px solid black;
}

.grid-two-third {
    width: 66.667%;
}

.grid-three-quarter {
    width: 75%;
    border: 1px solid black;
}

.grid-full {
    width: 100%;
    border: 1px solid black;
}