html { 
  box-sizing: border-box; 
} 

*, *:before, *:after { 
  box-sizing: inherit; 
}

* {
    border: 1px solid black;
}

.grid {
  clear: both;
}

.grid-quarter {
    float: left;
    width: 25%
}

.grid-third {
    width: 33%
}

.grid-half {
    width: 50%
}

.grid-two-third {
    width: 66%
}

.grid-three-quarter {
    width: 75%
}

.grid-full {
    width: 100%
}